<div [ngClass]="selectStyle">
  <h1>
    Welcome to {{title}}!
  </h1>
  <label for='teams'>Name:</label>
  <select [compareWith]="compareFn" id="teams"  class="form-control"  name="teams" [(ngModel)]="activeTeam" (ngModelChange)="getTeam($event)">
    <option *ngFor="let team of teamList; let i = index;"   [ngValue]="team">
     {{team.name}}
    </option>
  </select>
  <button (click)="sendTeam(activeTeam)">Send team</button>
  <br>
  <select name="players" id="players" class="form-control" [(ngModel)]="activePlayer" (ngModelChange)="getPlayer($event)">
    <option *ngFor="let player of playersList; let i = index;" [ngValue]="player">
      {{player.name}}
    </option>
  </select>
</div>
<br>
<div [ngStyle]="dataListStyle">
  <label>Select brand for shoes</label>
  <input list="brands" name="brandsInput" [(ngModel)]="activeBrand" (change)="getBrand($event.target.value)">
  <datalist id="brands">
    <option *ngFor="let brand of brands" [ngValue]="brand" [value]="brand.name">
      {{brand.name}}
    </option>
  </datalist>
</div>

