<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <label for='teams'>Name:</label>
  <select [compareWith]="compareFn" id="teams"  class="form-control"  name="teams" [(ngModel)]="activeTeam" (ngModelChange)="getTeam($event)">
    <option *ngFor="let team of teamList; let i = index;"   [ngValue]="team">
     {{team.name}}
    </option>
  </select>
  <button (click)="sendTeam(activeTeam)">Send team</button>
  <br>
  <select name="players" id="players" class="form-control" [(ngModel)]="activePlayer" (ngModelChange)="getPlayer($event)">
    <option *ngFor="let player of playersList; let i = index;" [ngValue]="player">
      {{player.name}}
    </option>
  </select>
</div>


